<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/265e3a3b-a1df-493b-84ab-db282b887771/resourcegroups/GreenThumbWebMVC_IG/providers/Microsoft.Web/sites/GreenThumbWebMVC2022</ResourceId>
    <ResourceGroup>GreenThumbWebMVC_IG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://greenthumbwebmvc2022.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>greenthumbwebmvc2022.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GreenThumbWebMVC2022</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$GreenThumbWebMVC2022</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:greenthumbwebmvcdbserver.database.windows.net,1433;Initial Catalog=GreenThumb.WebMVC_db;User ID=tristaue@greenthumbwebmvcdbserver;Password=@fHr6F@eS*18" Name="Data Source=tcp:greenthumbwebmvcdbserver.database.windows.net,1433;Initial Catalog=GreenThumb.WebMVC_db;User Id=tristaue@greenthumbwebmvcdbserver;Password=@fHr6F@eS*18" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GreenThumb.Data.ApplicationDbContext, GreenThumb.Data" MigrationConfiguration="GreenThumb.Data.Migrations.Configuration, GreenThumb.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:greenthumbwebmvcdbserver.database.windows.net,1433;Initial Catalog=GreenThumb.WebMVC_db;User Id=tristaue@greenthumbwebmvcdbserver;Password=@fHr6F@eS*18</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>